# Registry provider (required for server-side configuration)
# Use scaleway-registry, or the alias "scaleway"
FUZZY_ENGINE_PROVIDER=

# AWS ECR
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=eu-west-1

# Docker Registry v2
DOCKER_REGISTRY_URL=
DOCKER_REGISTRY_USERNAME=
DOCKER_REGISTRY_PASSWORD=
DOCKER_REGISTRY_PASSWORDLESS=false

# DockerHub
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=

# Github Container Registry
GITHUB_NICKNAME=
GITHUB_TOKEN=

# Scaleway Container Registry
SCALEWAY_REGISTRY_URL=
SCALEWAY_REGISTRY_TOKEN=
